﻿

.table th:last-child,
.table td:last-child {
    width: 150px;
    white-space: nowrap;
}

.Titulo a {
    height: 40px;
}

.Pesquisa button {
    height: 40px;
}


col-fixa-pequena {
    width: 100px !important;
    white-space: nowrap;
}
.col-nome-fixa {
    max-width: 450px;
    word-break: break-word;                          
}