@model CidadeModel
@{
	ViewData["Title"] = (Model.cidadeID == 0 ? "Cadastrar cidade":"Editar Cidade");
}


<div class="Cadastrar bg-light rounded-3 p-5">

    <h1 class="text-center">
        @(Model.cidadeID == 0 ? "Cadastrar Cidade" : "Editar cidade")
    </h1>
    <form asp-controller="Cidade" asp-action="UpsertCidade" method="post">
        <input type="hidden" asp-for="cidadeID" />
        <div class="mb-3">
            <label asp-for="cidadeNome" class="form-label">Nome cidade</label>
            <input type="text" class="form-control" asp-for="cidadeNome" id=" cidadeNome" placeholder="Digite o nome da cidade">
            <span asp-validation-for="cidadeNome" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="cidadeUF" class="form-label">UF</label>
            <select class="form-select" asp-for="cidadeUF">
                <option selected disabled>Selecione um UF</option>

                @foreach (var uf in ViewBag.UFs)
                {
                    <option value="@uf">@uf</option>
                }
            </select>
        </div>

        <div class="Botoes d-flex gap-2 justify-content-center mt-4 ">
            <button type="submit" class="btn btn-success w-25 ">
                @(Model.cidadeID == 0 ? "Cadastrar" : "Editar")
            </button>
            <a asp-controller="Cidade" asp-action="ListarCidades" class="btn btn-primary w-25">Voltar</a>
        </div>
    </form>
</div>